$siteBackground: #F1F2F5;
$text: #020a1a;

$primary: #1269FA;
$primaryDark: darken( $primary, 10 );

$grey: #F4F5F7;
$greyDark: #e5e8ec;
$greyDarkest: #b2b5ba;

$transitionShort: all 0.05s linear;
$transition: all 0.1s linear;

$error: #E72326;
